a, a:visited, a:active {
  color: #444;
}

.container {
  max-width: 900px;
  margin: auto;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
}

.button.active {
  background: #000;
  color: #fff;
}


#vis {
/*  width: 940px;
  height: 600px; */
  clear: both;
  margin-bottom: 10px;
}

#toolbar {
  margin-top: 10px;
}

.muni {
  font-size: 18px;
  fill: #aaa;
  cursor: default;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 1px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 190px;
	font-size: 13px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  /*font-weight: bold;*/
}

.name {
  margin: 0;
  margin-top: .5em;
  line-height: 10px;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 4px;
    font-weight: bold;
    font-size: 90%;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 50px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }

.infotip {
    position: absolute;
    opacity: 0;
    background-color: rgba(255,255,255, 0.9);
    font-size: 13px;
    font-weight: bold;
    width: 60px;
    padding: 5px;
    width: 200px;
  }

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.highlight {
  stroke: #000;
  stroke-width: 3px;
}
